[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	branch = master
[submodule ".dotfiles/themes/qt/wombat-theme"]
	path = .dotfiles/themes/qt/wombat-theme
	url = https://github.com/reaper/qt-creator-wombat-theme.git
[submodule ".dotfiles/tools"]
	path = .dotfiles/tools
	url = https://github.com/reaper/tools.git
[submodule ".dotfiles/bin/neovim-gnome-terminal-wrapper"]
	path = .dotfiles/bin/neovim-gnome-terminal-wrapper
	url = https://github.com/fmoralesc/neovim-gnome-terminal-wrapper.git
