[submodule ".vim"]
	path = .vim
	url = https://github.com/carlhuda/janus
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".janus/incsearch"]
	path = .janus/incsearch
	url = https://github.com/haya14busa/incsearch.vim
[submodule ".janus/airline"]
	path = .janus/airline
	url = https://github.com/bling/vim-airline
[submodule ".janus/jedi"]
	path = .janus/jedi
	url = https://github.com/davidhalter/jedi-vim
[submodule ".janus/gitgutter"]
	path = .janus/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".janus/startify"]
	path = .janus/startify
	url = https://github.com/mhinz/vim-startify
[submodule ".tools/themes/qt/wombat-theme"]
	path = .tools/themes/qt/wombat-theme
	url = https://github.com/alexpana/qt-creator-wombat-theme
[submodule ".janus/maximizer"]
	path = .janus/maximizer
	url = https://github.com/szw/vim-maximizer.git
