[user]
	name = Pierre FILSTROFF
	email = pfilstroff@gmail.com

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
 
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim

[diff]
	tool = opendiff
[log]
	decorate = full
