[user]
	name = Pierre FILSTROFF
	email = pfilstroff@gmail.com

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	cl = clean -fdx
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	new = !git lg $1@{1}..$1@{0} "$@"
	serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	web = instaweb -d webrick
	up-svn = svn rebase
	push-svn = svn dcommit
	cherry-pick-svn = !GIT_EDITOR='sed -i /^git-svn-id:/d' git cherry-pick -e
	branch-svn = svn branch
	merge-svn = merge --squash
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; nvim `f`"

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[diff]
	tool = opendiff

[log]
	decorate = full

[push]
	default = current

[webui]
	autoupdate = true

[dude]
	icon = ~/.git-dude/git_logo.png
	interval = 30

[pull]
	default = current
	rebase = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
